<h1>"Hello world from hello"</h1>
<!-- Calculates but no output -->
<% 1 + 1 %>
<!-- Calculates and outputs value -->
<%= 1 + 1 %><br />

<!-- Interpolate a string -->
<% target = "world" %>
<%= "Hello #{target}" %><br />

<!-- Puts to the rails console, returns 3 to view -->
<%=
3.times do |n|
  puts n
end
%><br />

<!-- Prints to the screen -->
<% 3.times do |n| %>
  <%= n %>
<% end %>
<br />

<!-- Instance variable -->
<% @array.each do |n| %>
  <%= n %><br />
<% end %>
<br />

<!-- controller is the same, not another controller -->
<%= link_to('Index Page', {:action => 'index'}) %><br />
<br />
ID: <%= @id %><br />
ID: <%= params[:id] %><br />
Page: <%= @page %><br />
<!-- Params are always strings, unless we convert it -->
Next Page: <%= @page.to_i + 1 %><br />
